<?xml version="1.0"?>
<config>
    <modules>
        <CleverWeb_Mercadolivre>
            <version>0.5.1</version>
        </CleverWeb_Mercadolivre>
    </modules>
    <frontend>
        <routers>
            <mercadolivre>
                <use>standard</use>
                <args>
                    <module>CleverWeb_Mercadolivre</module>
                    <frontName>mercadolivre</frontName>
                </args>
            </mercadolivre>
        </routers>
        <layout>
            <updates>
                <mercadolivre>
                    <file>mercadolivre.xml</file>
                </mercadolivre>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
		   <mercadolivre>
			    <use>admin</use>
			    <args>
			     <module>CleverWeb_Mercadolivre</module>
			     <frontName>mercadolivre</frontName>
			    </args>
		   </mercadolivre>
        </routers>
    </admin>
    <adminhtml>
  <menu>
   <mercadolivre module="mercadolivre">
    <title>Mercadolivre</title>
    <sort_order>71</sort_order>               
    <children>
     <items module="mercadolivre">
      <title>Anúncios</title>
      <sort_order>0</sort_order>
      <action>mercadolivre/adminhtml_mercadolivre</action>
     </items>
    </children>
   </mercadolivre>
  </menu>
 
  
   <acl>
            <all>
                <title>Allow Everything</title>
            </all>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mercadolivre>
                                            <title>Mercado Livre</title>
                                        </mercadolivre>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
  
  
  
  <layout>
   <updates>
    <mercadolivre>
     <file>mercadolivre.xml</file>
    </mercadolivre>
   </updates>
  </layout>
    </adminhtml>   
    <global>
        <models>
            <mercadolivre>
                <class>CleverWeb_Mercadolivre_Model</class>
                <resourceModel>mercadolivre_mysql4</resourceModel>
            </mercadolivre>
            <mercadolivre_mysql4>
                <class>CleverWeb_Mercadolivre_Model_Mysql4</class>
                <entities>
                    <mercadolivre>
                        <table>mercadolivre</table>
                    </mercadolivre>
                    <product>
                        <table>ml_product</table>
                    </product>
                    <category>
                        <table>ml_category</table>
                    </category>
                    <notification>
                        <table>ml_notification</table>
                    </notification>
                    <order>
                        <table>ml_order</table>
                    </order>
                    <question>
                        <table>ml_question</table>
                    </question>
                </entities>
            </mercadolivre_mysql4>
        </models>
        <resources>
            <mercadolivre_setup>
                <setup>
                    <module>CleverWeb_Mercadolivre</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mercadolivre_setup>
            <mercadolivre_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mercadolivre_write>
            <mercadolivre_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mercadolivre_read>
        </resources>
        <blocks>
            <mercadolivre>
                <class>CleverWeb_Mercadolivre_Block</class>
            </mercadolivre>
        </blocks>
        <helpers>
            <mercadolivre>
                <class>CleverWeb_Mercadolivre_Helper</class>
            </mercadolivre>
        </helpers>
    </global>
</config>