<?xml version="1.0"?>
<config>
	<sections>
		<payment>
			<groups>
				<cleverweb_payb translate="label" module="cleverweb_pagseguroboleto">
					<label>PagSeguro Boleto - CleverWeb</label>
					<sort_order>300</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<title translate="label" module="cleverweb_pagseguroboleto">
							<label>Title</label>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_type>text</frontend_type>
						</title>
						
						<active translate="label" module="cleverweb_pagseguroboleto">
							<label>Enabled</label>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
						</active>
						
						<order_status translate="label" module="cleverweb_pagseguroboleto">
							<label>Order Status</label>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_order_status_newprocessing</source_model>
						</order_status>
						
						<merchant_email translate="label">
                            <label>E-mail</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-email</validate>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>E-mail da loja conta API PagSeguro</comment>
                            <tooltip>E-mail da sua conta PagSeguro. Você deve ter uma Conta Vendedor ou Conta Empresarial.</tooltip>
                        </merchant_email>
                        
                        <publickey>
                            <label>Chave Pública </label>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>5</sort_order>
                            <comment>Chave Pública do Vendedor Principal PagSeguro</comment>
                        </publickey>
                        
                        <selermail>
                            <label>E-mail Vendedor Principal </label>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>5</sort_order>
                            <comment>E-mail PagSeguro do Vendedor Principal</comment>
                        </selermail>
                        
                        <token translate="label">
                            <label>Token</label>
                            <frontend_type>text</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>O token é obtido no seu painel do PagSeguro. Ao salvar esta página, ele será criptografado, aparentando ter um tamanho menor.</comment>
                            <tooltip>No caso de suspeita de token inválido ou de ter instalado outro módulo PagSeguro anteriormente, redigite o token e salve as configurações.</tooltip>
                        </token>
                        
                        <appid>
                            <label>AppId</label>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>7</sort_order>
                        </appid>
                        <appkey>
                            <label>AppKey</label>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>8</sort_order>
                        </appkey>
                        <sandbox translate="label">
                            <label>Ambiente de testes?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[No modo de testes, os dados são enviados para sandbox do PagSeguro. Habilite o acesso à Sandbox <a href="http://sandbox.pagseguro.uol.com.br/" target="_blank">aqui</a><br/>Obs: O modo Sandbox ainda não funciona no modelo de aplicação.]]></comment>
                        </sandbox>
                        <sandbox_merchant_email translate="label">
                            <label>E-mail Sandbox</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-email</validate>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <sandbox>1</sandbox>
                            </depends>
                            <comment>E-mail da loja (conta vendedor) no ambiente de testes</comment>
                        </sandbox_merchant_email>
                        <sandbox_token translate="label">
                            <label>Token Sandbox</label>
                            <frontend_type>text</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <sandbox>1</sandbox>
                            </depends>
                        </sandbox_token>
						<sandbox_appid>
                            <label>AppId Sandbox</label>
                            <frontend_type>text</frontend_type>
                            <comment>AppId fornecido na Sandbox para contas com modelo de aplicação</comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>12</sort_order>
                            <depends>
                                <sandbox>1</sandbox>
                            </depends>
                        </sandbox_appid>
                        <sandbox_appkey>
                            <label>AppKey Sandbox</label>
                            <frontend_type>text</frontend_type>
                            <comment>AppKey fornecido na Sandbox para contas com modelo de aplicação</comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>13</sort_order>
                            <depends>
                                <sandbox>1</sandbox>
                            </depends>
                        </sandbox_appkey>
                        <comissao>
                            <label>(%)Comissão</label>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>14</sort_order>
                            <comment>Percentual comissão que receberei sobre cada venda dos vendedores.</comment>
                        </comissao>
                        
                        <taxapagseguro>
                            <label>(%)Taxa PagSeguro</label>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>15</sort_order>
                            <comment>Taxa cobrado pelo PagSeguro.</comment>
                        </taxapagseguro>
                        
                        <tarifapagseguro>
                            <label>(R$)Tarifa PagSeguro</label>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>16</sort_order>
                            <comment>Tarifa cobrado pelo PagSeguro.</comment>
                        </tarifapagseguro>                        
                        
					</fields>
				</cleverweb_payb>
			</groups>
		</payment>
	</sections>
</config>